Flask
flask_sqlalchemy
flask_cors
APScheduler
flask_mail
flask_jwt_extended
werkzeug
requests
gspread
oauth2client
google-auth
imapclient
python-dotenv
psycopg2-binary
gunicorn
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
